<ng-container *ngIf="user">
  <div class="container-main">
    <section class="header-main">
      <h2 class="title-main">Mis datos</h2>
    </section>

    <section class="content-main">
      <div class="container-perfil">
        <section class="content-perfil">
          <div class="img-options">
            <img class="img" [src]="API + user?.image" alt="Imagen de perfil" />
            <h3 class="title">{{ user?.name }}</h3>
            <div class="options">
              <i
                class="fas fa-user-edit"
                matTooltip="Actualizar datos"
                (click)="verEditarPerfil = !verEditarPerfil"
              ></i>
              <i class="fas fa-user-lock" matTooltip="Cambiar contraseña" routerLink="/recuperar-contraseña"></i>
              <i
                class="fas fa-image"
                matTooltip="Cambiar imagen"
                (click)="verSeleccionarImagen = !verSeleccionarImagen"
              ></i>
            </div>
          </div>
          <div class="content-info">
            <div class="content-detalle">
              <i class="fas fa-envelope"></i>
              <div class="info">
                <p class="label">Correo</p>
                <p class="text-info">{{ user?.email }}</p>
              </div>
            </div>

            <div class="content-detalle">
              <i class="fas fa-id-badge"></i>
              <div class="info">
                <p class="label">Nombre de contacto</p>
                <p class="text-info">{{ user?.name }}</p>
              </div>
            </div>

            <div class="content-detalle">
              <i class="fas fa-phone-alt"></i>
              <div class="info">
                <p class="label">Teléfono 1</p>
                <p class="text-info">{{ user?.phone }}</p>
              </div>
            </div>
          </div>
        </section>
      </div>
    </section>
  </div>

  <div>
    <app-editar-perfil
      [user]="user"
      [ver]="verEditarPerfil"
      (cerrar)="verEditarPerfil = $event"
      (userReturn)="updateUser($event)"
    ></app-editar-perfil>
    <app-seleccionar-imagen
      [ver]="verSeleccionarImagen"
      (cerrar)="verSeleccionarImagen = $event"
      (imgReturn)="guardarImagenPerfil($event)"
    ></app-seleccionar-imagen>
  </div>
</ng-container>
