<div class="content-auth">
  <img class="banner__background" src="./assets/imagenes/svg/image_lines.svg" alt="Lineas de fondo" />

  <app-card title="Modificar contraseña">
    <form [formGroup]="formModify" (ngSubmit)="onSubmit()">
      <div class="content-inputs">
        <div
          class="my-input"
          [ngClass]="{
            error: verificarInput('password')
          }"
        >
          <i class="fas fa-lock"></i>
          <input
            placeholder="Contraseña"
            type="password"
            formControlName="password"
          />
        </div>

        <div
          class="my-input"
          [ngClass]="{
            error:
              verificarInput('repeatPassword') ||
              formModify?.hasError('repeatPassword')
          }"
        >
          <i class="fas fa-lock"></i>
          <input
            placeholder="Repetir Contraseña"
            type="password"
            formControlName="repeatPassword"
          />
        </div>
      </div>

      <div class="buttons" *ngIf="!isLoading; else elseSubmit">
        <app-button-primary
          color="var(--color-primary)"
          background="var(--color-white)"
          [bold]="true"
          type="submit"
          [disabled]="formModify.invalid"
          >Aceptar</app-button-primary
        >
      </div>
      <ng-template #elseSubmit>
        <div class="loader">
          <div class="lds-ripple">
            <div></div>
            <div></div>
          </div>
        </div>
      </ng-template>
    </form>
  </app-card>
</div>
