<header class="header-tienda" [ngClass]="{ shadow: headerColor }">
  <div class="container-logo">
    <i class="fas fa-arrow-right" *ngIf="!nav" (click)="clickNav(true)"></i>
    <i class="fas fa-arrow-left" *ngIf="nav" (click)="clickNav(false)"></i>
    <div class="content-logo">
      <h1 class="h1">
        <img
          src="./assets/imagenes/logos/logo.png"
          alt="Delivery de pymes"
        />
      </h1>
    </div>
  </div>
  <div class="content-config">
    <div
      *ngFor="let item of nav1024"
      class="setting is1024"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: item.exact }"
      routerLink="{{ item.link }}"
      matTooltip="{{ item.nombre }}"
    >
      <i class="fas fa-{{ item.icon }}"></i>
    </div>

    <div class="setting" (click)="generateReportRetirement()" matTooltip="Generar Reporte">
      <i class="fas fa-cloud-download-alt"></i>
    </div>

    <div class="setting" (click)="verMisNotificaciones()" matTooltip="Notificaciones">
      <i class="fas fa-bell notification" [attr.data-notification]="notificationsNotSeen"></i>
    </div>
    <div class="setting" (click)="verMiConfiguracion()" matTooltip="Configuración">
      <i class="fas fa-user-cog"></i>
    </div>
  </div>
</header>
