<div class="container-modal">
  <h3 class="title-modal">Nuevo cupón</h3>
  <div class="content-modal">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="content-input">
        <span class="mensaje-error" [ngClass]="{ error: verificarInput('name') }">Campo requerido</span>
        <label class="label">Nombre</label>
        <input placeholder="Nombre" formControlName="name" />
      </div>

      <div class="content-input">
        <span class="mensaje-error" [ngClass]="{ error: verificarInput('discountRate') }">Campo requerido</span>
        <span class="mensaje-error" [ngClass]="{ error: form.get('discountRate')?.hasError('pattern') }"
          >Formato inválido</span
        >
        <label class="label">Descuento</label>
        <input placeholder="Descuento" formControlName="discountRate" type="number" />
      </div>

      <div class="content-input radio">
        <div class="content-radio">
          <div class="radio">
            <input type="radio" id="d" value="d" formControlName="typeTime" />
            <label for="d">Días</label>
          </div>
          <div class="radio">
            <input type="radio" id="h" value="h" formControlName="typeTime" />
            <label for="h">Horas</label>
          </div>
          <div class="radio">
            <input type="radio" id="m" value="m" formControlName="typeTime" />
            <label for="m">Minutos</label>
          </div>
        </div>
      </div>

      <div class="content-input">
        <span class="mensaje-error" [ngClass]="{ error: verificarInput('expirationTime') }">Campo requerido</span>
        <span class="mensaje-error" [ngClass]="{ error: form.get('expirationTime')?.hasError('pattern') }"
          >Formato inválido</span
        >
        <label class="label">Tiempo expiración en {{ time() }}</label>
        <input placeholder="Tiempo expiración en {{ time() }}" formControlName="expirationTime" />
      </div>
      <div class="action-modal">
        <app-button-primary type="submit" background="var(--color-primary)" color="var(--color-white)" [disabled]="form.invalid">
          <i class="fas fa-check-circle"></i> Aceptar
        </app-button-primary>
        <app-button-primary background="var(--color-red)" color="var(--color-white)" (handleClick)="onNoClick()">
          <i class="fas fa-times-circle"></i> Cerrar
        </app-button-primary>
      </div>
    </form>
  </div>
</div>
