<div class="whatsapp">
  <div class="whatsapp__image">
    <img class="whatsapp__image_content" src="../../../../assets/imagenes/svg/image_whatsapp.svg" alt="Imagen con tres personas y una pantalla con un icono de chat">
    <img class="whatsapp__image_message" src="../../../../assets/imagenes/svg/image_message.svg" alt="Imagen SVG en forma de mensaje">
  </div>
  <div class="whatsapp__button">
    <h4>¿Tienes dudas?</h4>
    <h3>CONVERSEMOS</h3>
    <app-button-primary background="var(--color-gradient)" color="var(--color-white)">
      <img class="whatsapp__image_logo" src="../../../../assets/imagenes/svg/image_logo_whatsapp.svg" alt="Logo de whasapp">
      <span class="text_button">IR A WHATSAPP</span>
    </app-button-primary>
  </div>
</div>
