.whatsapp {
  display: grid;
  grid-gap: 0.6rem;
  grid-template-columns: repeat(2, 1fr);

  .whatsapp__button {
    align-items: center;
    display: flex;
    flex-direction: column;
    transform: translateY(-50px);
    justify-content: flex-end;

    h3,
    h4 {
      font-size: 28px;
      font-weight: bold;
    }

    h3 {
      line-height: 50px;
      margin-bottom: 1rem;
    }

    .text_button {
      font-size: 18px;
      font-weight: bold;
      margin-right: 2rem;
    }

    .whatsapp__image_logo {
      margin-left: 2rem;
      width: 30px;
    }
  }

  .whatsapp__image {
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;

    .whatsapp__image_content {
      max-width: 400px;
      margin: auto;
      width: 100%;
    }

    .whatsapp__image_message {
      animation: move 5s linear infinite;
      border-radius: 8px;
      box-shadow: var(--shadow);
      left: 60%;
      position: absolute;
      top: 40%;
      width: 25%;
    }
  }

  @media screen and (max-width: 679px) {
    grid-template-columns: 1fr;

    .whatsapp__image {
      display: none;
    }
  }

  @media screen and (max-width: 419px) {
    .whatsapp__button {
      h3,
      h4 {
        font-size: 1.4rem;
      }

      .text_button {
        font-size: 0.8rem;
      }

      .whatsapp__image_logo {
        width: 26px;
      }
    }
  }
}

@keyframes move {
  0%,
  100% {
    transform: translateY(-10px);
  }
  25%,
  75% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(10px);
  }
}
